:root {
  --primary-color: #ffffff;
  --secondary-color: #ececec;
  --tertiary-color: #bdbdbd;
  --quaternary-color: #d3d3d3;
  --text-color: #4d4d4d;
}

.dark-mode {
  --primary-color: #1e1e1e !important;
  --secondary-color: #2e2e2e !important;
  --tertiary-color: #3e3e3e !important;
  --quaternary-color: #4e4e4e !important;
  --text-color: #ffffff !important;
}

* {
  transition: scroll-behavior 0.3s ease-in-out;
}

td, tr, th, svg {
  color: var(--text-color) !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  overflow: hidden;
}

code, pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 100;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--tertiary-color);
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: var(--primary-color);
  border: none;
  padding: 12px 24px;
  margin-inline: 0.5em;
  margin-top: 1em;
  cursor: pointer;
  border-radius: 2em;
}

input[type="text"], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid var(--quaternary-color) !important;
  background-color: var(--primary-color);
}