.relative {
    position: relative;
}

.settings-container {
    background: var(--quaternary-color);
    border: 5px solid var(--tertiary-color);
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 16pt;
    max-height: 65vh;
    width: 50vw;
    margin: auto;
    overflow-y: scroll;
    padding: 1em 1.5em;
    text-align: center;
}
  
.settings-section {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: solid 1px var(--quinary-color);
}
  
.settings-section-header {
    font-size: 18pt;
    margin-bottom: 10px;
}

.settings-top {
    padding-bottom: 0.3em;
    background-color: var(--quaternary-color);
    border: 5px solid var(--tertiary-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.settings-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.settings-group label {
    flex: 0 0 calc(50% - 10px);
    margin: 5px;
}

#keyword-input,
.settings-group label input,
.settings-group label select,
.settings-group label textarea {
    border: 2px solid var(--quaternary-color) !important;
    box-sizing: border-box !important;
    padding: 5px !important;
    width: 100% !important;
    max-width: 200px !important;
    margin: 0.75em auto 0.4em;
    height: 2.5em;
}

#keyword-input {
    margin-left: 0.5em !important;
}

.settings-top-btn {
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    color: white;
    cursor: pointer;
    display: inline-flex;
    margin: .5em;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    font-size: small;
}

.settings-top-btn:hover {
    background-color: #0056b3;
}

.system-btn {
    background-color: #fd5e5e;
}

.system-btn:hover {
    background-color: #c53030;
}

.save-btn {
    background-color: #28a745;
}

.save-btn:hover {
    background-color: #218838;
}

button:hover .tooltip {
    display: block;
    background-color: #007bff;
    border-radius: 5px;
    color: var(--text-color);
    font-size: 12pt;
    padding: 5px;
    text-align: center;
    z-index: 1;
    top: 0;
    left: -1em;
    transform: translateY(-110%);
}

.tooltip {
    position: absolute;
    display: none;
}

a i {
    margin-right: 5px;
}