.App {
  text-align: center;
  background-color: #F4F4F4;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333333;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dashboard {
  flex: 3;
  padding: 20px;
}

@media (min-width: 768px) {
  .dashboard {
    width: 60vw;
  }
}

.integrations-dashboard {
  padding-top: 0 !important;
}

/* Table styling */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table-container {
  max-height: 70vh;
  overflow-y: auto;
}

/* Sticky header */
.TableHead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ebebeb;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.MuiPaper-root {
  width: 200px;
  display: contents !important;
}

.sidebar {
  overflow-x: hidden;
  width: 200px;
  height: 85vh;
  flex: 1;
  background: white;
  border-radius: 10px;
  padding: 0.5em;
  margin-right: 1em;
  transition: width 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.sidebar.closed {
  width: 0;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
}

.sidebar.open {
  width: 200px;
  overflow-x: hidden;
}

.sidebar-title {
  padding: 16px;
  font-size: 1.2em;
}

.menu-toggle {
  color: #333333;
  visibility: hidden;
  width: fit-content !important;
  position: absolute !important;
  padding: 1.4em !important;
  top: 0;
  right: 0;
}

@media (max-width: 768px) {
  .menu-toggle {
    visibility: visible;
  }

  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 9999;
    transition: width 0.2s ease-in-out, visibility 0.2s ease-in-out;
  }
}

.active {
  background-color: #f4f4f4;
}

.MuiButtonBase-root {
  width: 100%;
}

.MuiButtonBase-root li {
  border-radius: 10px;
}

.MuiButtonBase-root:hover {
  background-color: #F4F4F4;
  border-radius: 10px;
}

.MuiTypography-root {
  color: #404040;
}

.MuiTable-root {
  width: 90%;
  margin: 1.5em auto 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}
