.App {
  text-align: center;
  background-color: #F4F4F4;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333333;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dashboard {
  flex: 3;
  padding: 20px;
}

@media (min-width: 768px) {
  .dashboard {
    width: 60vw;
  }
}

.MuiTable-root {
  width: 90%;
  margin: 0 auto;
}

.MuiPaper-root {
  width: 200px;
  display: contents !important;
}

.sidebar {
  overflow: hidden;
  width: 200px;
  height: 85vh;
  flex: 1;
  background: white;
  border-radius: 10px;
  padding: 0.5em;
  margin-right: 2em;
  transition: width 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.sidebar.closed {
  width: 0;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
}

.sidebar.open {
  width: 200px;
  overflow-x: hidden;
}

.sidebar-title {
  padding: 16px;
  font-size: 1.2em;
}

.sidebar-title-link {
  text-decoration: none;
  color: #5f5f5f;
}

.sidebar-links-container {
  height: 73vh;
  display: grid;
}

@media (max-width: 768px) {
  .sidebar-links-container {
    height: 80vh;
  }
}

.robot-gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.menu-toggle {
  color: #333333;
  visibility: hidden;
  width: fit-content !important;
  position: absolute !important;
  padding: 1.4em !important;
  top: 0;
  right: 0;
}

@media (max-width: 768px) {
  .menu-toggle {
    visibility: visible;
  }

  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 9999;
    transition: width 0.2s ease-in-out, visibility 0.2s ease-in-out;
  }
}

.active {
  background-color: #f4f4f4;
}

.MuiButtonBase-root {
  width: 100%;
}

.MuiButtonBase-root li {
  border-radius: 10px;
}

.MuiButtonBase-root:hover {
  background-color: #F4F4F4;
  border-radius: 10px;
}

.MuiTypography-root {
  color: #404040;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}
