.integration {
  text-align: center;
  border: 1px solid #ccc;
  padding: 1.5em;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container {
  background: #fff;
  padding: 1em;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-text {
  color: red;
  margin-top: 1em;
  font-size: medium;
}
