.integration {
  text-align: center;
  border: 1px solid #ccc;
  padding: 1.5em;
  border-radius: 10px;
}

.form-container {
  background: #fff;
  padding: 1em;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.error-text {
  color: red;
  margin-top: 1em;
  font-size: medium;
}
