.settings-container {
    background: #ececec;
    border: 5px solid #d3d3d3;
    border-radius: 10px;
    font-size: 16pt;
    max-height: 65vh;
    width: 50vw;
    overflow-y: scroll;
    padding: 1em 1.5em;
    text-align: center;
}
  
.settings-section {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: solid 1px #a1a1a1;
}
  
.settings-section-header {
    font-size: 18pt;
    margin-bottom: 10px;
}
  
.settings-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.settings-group label {
    flex: 0 0 calc(50% - 10px);
    margin: 5px;
}

.settings-group label input, .settings-group label select {
    border: 2px solid #ccc !important;
    box-sizing: border-box !important;
    padding: 5px !important;
    width: 100% !important;
    max-width: 200px !important;
    margin: 0.75em auto 0.4em !important;
}
