Adafruit-Blinka==8.22.0
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-framebuf==1.6.3
adafruit-circuitpython-requests==2.0.1
adafruit-circuitpython-ssd1306==2.12.14
adafruit-circuitpython-typing==1.9.4
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==3.52.0
Adafruit-PureIO==1.1.11
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.5.0
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
caldav==1.3.9
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
fastapi==0.103.1
frozenlist==1.4.0
h11==0.14.0
httpcore==0.18.0
httplib2==0.22.0
httpx==0.25.0
idna==3.4
multidict==6.0.4
ninja==1.11.1
oauthlib==3.2.2
litellm==1.41.24
phue==1.1
Pillow==10.0.0
protobuf==4.24.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.13
pydantic==2.5.3
pydantic_core==2.14.6
pyftdi==0.55.0
pyparsing==3.1.1
pyserial==3.5
python-dotenv==1.0.0
pyttsx3==2.90
pyusb==1.2.1
requests==2.31.0
requests-oauthlib==1.3.1
RPi.GPIO==0.7.1
rsa==4.9
semantic-router==0.0.51
sniffio==1.3.0
SpeechRecognition==3.10.0
spidev==3.6
spotipy==2.23.0
starlette==0.27.0
tqdm==4.66.1
typing_extensions==4.7.1
uritemplate==4.1.1
urllib3==1.26.16
uvicorn==0.23.2
yarl==1.9.2
