name: CI/CD Pipeline

on:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug
      tags:
        description: 'Test scenario tags'
        required: false
        type: boolean

permissions:
  contents: read
  packages: write

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Fetch all history, including tags

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GH_TOKEN }}

      - name: Get the version
        id: get_version
        run: |
          VERSION=$(git tag | sort --version-sort | tail -n1)
          echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT
          echo "VERSION=${VERSION}"

      - name: Build and push to Docker Hub and GHCR
        env:
          VERSION: ${{ steps.get_version.outputs.VERSION }}
        run: |
          # Build the Docker image with multiple tags
          timeout 3600 docker buildx build --platform linux/arm64 --no-cache \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/gpt-home:$VERSION \
            -t ghcr.io/${{ github.repository_owner }}/gpt-home:$VERSION \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/gpt-home:latest \
            -t ghcr.io/${{ github.repository_owner }}/gpt-home:latest \
            --push .